<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itlozg.admin.mapper.SignLongitudeLatitudeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.itlozg.admin.entity.SignLongitudeLatitude">
        <id column="id" property="id"/>
        <result column="created_by" property="createdBy"/>
        <result column="creation_date" property="creationDate"/>
        <result column="del_flag" property="delFlag"/>
        <result column="last_updated_by" property="lastUpdatedBy"/>
        <result column="last_update_date" property="lastUpdateDate"/>
        <result column="remarks" property="remarks"/>

        <result column="longitude" property="longitude"/>
        <result column="latitude" property="latitude"/>
        <result column="rule_id" property="ruleId"/>
        <result column="fence_order" property="fenceOrder"/>
        <result column="radius" property="radius"/>
        <result column="group_id" property="groupId"/>
    </resultMap>

    <!--查询电子围栏-->
    <select id="findFenceByRuleId" resultMap="BaseResultMap" resultType="com.itlozg.admin.entity.SignLongitudeLatitude">
        select * from sign_longitude_latitude
        where rule_id=#{ruleId} and del_flag='0' order by fence_order
    </select>

    <select id="findFenceByGroupId" resultMap="BaseResultMap" resultType="com.itlozg.admin.entity.SignLongitudeLatitude">
        select * from sign_longitude_latitude
        where group_id=#{groupId} and del_flag='0' order by fence_order
    </select>

    <select id="findFenceByRuleIdList" resultMap="BaseResultMap"
            resultType="com.itlozg.admin.entity.SignLongitudeLatitude">
        select * from sign_longitude_latitude
        where rule_id=#{ruleId} and del_flag='0' order by group_id
    </select>

    <select id="findGroupIdByRuleId" resultMap="BaseResultMap">
        select group_id
        from sign_longitude_latitude
        where del_flag = 0
        and rule_id = #{ruleId}
        group by group_id
    </select>

    <select id="findFenceByRuleIdOrGroupId" resultMap="BaseResultMap">
      select *
      from sign_longitude_latitude
      where rule_id=#{ruleId}
      and group_id = #{groupId}
      and del_flag='0'
      order by fence_order
    </select>

    <!--删除电子围栏-->
    <update id="deleteByRuleId">
        update sign_longitude_latitude set del_flag='1'
        where rule_id=#{ruleId}
    </update>

    <update id="updateMapNameByGroupId">
        update sign_longitude_latitude set remarks = #{remarks}
        where group_id=#{groupId}
    </update>

    <update id="updateMapNameByRuleId">
        update sign_longitude_latitude set remarks = #{remarks}
        where rule_id=#{ruleId}
    </update>

</mapper>
